span.label=payingCards.length?payingCards.length:null

 
 #playingCards
  - each card in payingCards
           span.label=" " + card.suit + card.card

 if payingCards.length===0
    h1 "Deck is empty"

if payingCards.length
    div
        a(href="/removeCard")!= "Remove Card"
    div
        a(href="/shuffleCard")!= "Shuffle Card"
    div
        a(href="/removeTopCard")!= "Remove Top Card"
else 
   div 
     a(href="/newDeck")!= "New Deck Of Card"