
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
block content
    h1= title
    div.newemployee
        form( method="post")
            div
                div
                    span.label Suite :
                    select(name="suite" id="suit" style="width:200px;margin-left:16px;float:left;")
                      each val in suits
                       option #{val}
                div
                    span.label Card :
                    select(name="card" id="suit" style="width:200px;margin-left:16px;float:left;")
                      each val in cards
                       option #{val}


                div#editEmployeeSubmit
                    input(type="submit", value="Save")
        a(href="/")!= "Back to DeckCard List"